body {
  background-color: rgb(253, 225, 255);
}

.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(Recursos/fondo\ nav.jpg);
  background-position: top;
  background-size: 1920px 1080px; /* Tamaño fijo grande */
  background-attachment: fixed; /* Mantiene el fondo fijo */
  background-repeat: no-repeat; /* Evita que se repita */
  justify-content: space-between;
  border-bottom: 1px solid #e0e0e0;
  min-height: 400px; /* Altura mínima */
  width: 100%; /* Ancho completo */
}

.navbar__logo {
  width: 300px;
  height: 300px;
  padding-left: 20px;
  position: relative;
  filter: 
   drop-shadow(0 10px 20px rgb(255, 255, 255))
   drop-shadow(0 5px 20px rgb(255, 255, 255));
}

.navbar__links {
  display: flex;
  font-size: 20px;
  align-items: center;
  list-style: none;
  margin-right: 30px;
  gap: 20px;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

.navbar__links a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  background-color: #fff;
  font-style: italic;
  border-radius: 10px;
  padding: 5px 10px;
  transition: all 0.3s ease-in-out;
  display: inline-block;
  transform: scale(1);

}

.navbar__links a:hover {
  color: #ffffff;
  background-color: #400707;
  border-radius: 50px;
  transform: scale(0.9);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

/* Media query para pantallas pequeñas */
@media screen and (max-width: 768px) {
  .navbar {
    padding: 10px;
    height: auto;
    /* Eliminamos background-size: cover para mantener el tamaño fijo */
  }

  .navbar__links {
    padding: 10px;
    margin: 10px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .navbar__links li {
    flex-basis: calc(50% - 20px); /* Hace que los elementos ocupen el 50% del ancho menos el gap */
    text-align: center;
  }
}

.article__1 {
  text-align: center;
  font-weight: bold;
}

.footer__1 {
  background-color: rgb(255, 255, 255); 
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: #ffffff 0px 0px 10px 5px;
  text-decoration: none;
  font-style: normal;
  flex-wrap: wrap;
}

.footer__1 a {
  color: #000000;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  display: inline-block;
}

.footer__1 a:hover {
  color: #400707;
  text-decoration: underline;
  transform: scale(0.9);
}